header, footer {
  background-color: #f6c4cd;
  display: flex;
  justify-content: center;
}

.navbar {
  margin-bottom: 10rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.logoHeader {
  width: 12%;
}

.logoFooter {
  width: 7%;
}

.cardProducto {
  margin: 30px;
  padding-bottom: 5%;
}

.btncontainer {
  position: absolute;
  bottom: 6px;
  margin-bottom: 5%;
  margin-left: 20%;
}

.btnCarritoContainer {
  position: absolute;
  bottom: 6px;
  margin-bottom: 5%;
  margin-left: 33%;
}

.cardDetalleContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 10%;
}

.cardDetalle {
  padding: 3%;
}

h3 {
  text-align: center;
  color: red!important;
}

.cardProducto:hover {
  scale: 1.05;
}

section {
  margin-bottom: 50rem;
}

.dropdown {
  margin-top: 8px;
}

form {
  margin: 10% 20%;
}

form label {
  color: black;
  font-weight: 500;
}

#carritoVacio {
  width: 20%;
}

#textoCarrito {
  color: black;
  text-align: center;
}

#finalizarCompraContainer {
  display: flex;
  justify-content: center;
}

#precioTotal {
  color: black;
  font-size: large;
  text-align: center;
  font-weight: bold;
  background-color: #f6c4cd;
  margin-top: 3%;
}

.about {
  color: black;
  margin: 0% 5% 20% 5%;
}