body {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/proyectoreact-mundodachshund.appspot.com/o/Imagenes%2Fbackground.jpg?alt=media&token=db58290e-7663-44f6-9fbc-725a512e9ff3);
  padding-bottom: 10rem;
  position: relative;
}
